/* Paleta de cores */
:root {
    --dark-green: #16302bff;
    --cambridge-blue: #85b79dff;
    --white: #ffffffff;
    --night: #0a1513ff;
    --celadon: #afdcc5ff;
    --seasalt: #f7f7f7ff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--seasalt);
    color: var(--night);
}

section {
    width: 100%;
}

section h2 {
    color: var(--night);
}

.navbar {
    background-color: var(--dark-green);
    margin-bottom: 100px;
}

.navbar-brand,
.nav-link {
    color: var(--white);
}

.nav-link:hover {
    color: var(--celadon);
}

.jumbotron {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cambridge-blue);
    color: var(--dark-green);
    padding: 0;
}

.jumbotron h1,
.jumbotron p {
    margin-left: 1rem;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--dark-green);
}

.header-img-field {
    width: 30%;
    height: 100vh;
    overflow: hidden;
}

.header-img {
    height: 100vh;
    object-fit: cover;
}

.header-text {
    width: 70%;
}

.left-field {
    width: 40%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: var(--celadon);
    padding-top: 150px;
}


/* Gambiarra pra arrumar as tênias*/
.left-field span {
    float: left;
    position: relative;
    top: -20px;
}

.left-field span:nth-child(2) {
    top: -10px;
    left: -50px;
}

/* Fim da gambiarra */


.right-field {
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: var(--seasalt);
    padding: 50px 100px 50px 50px;
}

.img-field {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    border: 4px solid var(--cambridge-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.img-field img {
    object-fit: cover;
}

.main {
    padding: 2rem 1rem;
}

.info {
    width: 70%;
    margin-bottom: 100px;
    background-color: var(--cambridge-blue);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.info p {
    color: var(--white);
    text-align: justify;
    text-indent: 20px;
}

section {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

h2 {
    color: var(--dark-green);
    margin-bottom: 1rem;
}

h3 {
    color: var(--cambridge-blue);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

footer {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

#referencias span{
    width: 100%;
    font-size: 12px;
}

@media (max-width: 860px) {
    .jumbotron {
        height: 50vh;
        min-height: min-content;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    .header-img-field {
        width: 100%;
        height: 30vh;
        margin-bottom: 50px;
    }

    .header-img {
        width: 100%;
        object-fit: cover;
    }

    .header-text {
        width: 100%;
        margin-bottom: 50px;
    }
}


@media (max-width: 768px) {
    .left-field {
        width: 100%;
        min-height: min-content;
        padding-bottom: 100px;
    }

    .right-field {
        width: 100%;
    }

    .info p {
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}